@use "../scss/variables.scss" as *;

.error_page{
    color: $color-primary;
    text-align: center;
    h1{
        font-size: 17rem;
        margin-bottom: 0.5rem;
    }
    h2{
        font-size: 37px;
        font-weight: 200;
    }
    a{
        color: $color-primary;
        &:hover{
            text-decoration: underline;
        }
    }
}